.localization {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;

   .container {
    display: flex;
    flex-direction: column;

    .localizationSubtitles {
        margin-top: 20px;
        h2 {
            font-weight: bold;
        }

        img {
            width: 300px;
        }
    }

    .locationItems, .mapItems {
        display: flex;
        flex-direction: column;
        gap: 20px;

        margin-top: 50px;

        h3 {
            font-weight: bold;
        }

        .locationBox {
            display: flex;
            gap: 10px;

            .iconBox {
                position: relative;
                .locationIconFrame {
                    width: 50px;
                }

                .itemIcon {
                    width: 30px;
                    position: absolute;
                    left: 10px;
                    top: -2px;
                }
            }
        }
    }
   }

   .map {
    position: relative;

    img {
        width: 100%;
    }
    
    .mapIconMarket1 {
        top: 72%;
        right: 30%;
    }

    .mapIconMarket2 {
        top: 60%;
        right: 28%;
    }

    .mapIconPetshop1 {
        top: 70%;
        left: 40%;
    }

    .mapIconBikeRack {
        bottom: 20%;
        right: 25%;
    }

    .mapIconPark {
        top: 80%;
        left: 20%;
    }

    .mapIconBank {
        top: 65%;
        left: 63%;
    }

    .mapIconMetroStation {
        top: 42%;
        right: 0;
    }

    .mapIconMarket1, 
    .mapIconMarket2, 
    .mapIconPetshop1, 
    .mapIconBikeRack,
    .mapIconPark,
    .mapIconBank,
    .mapIconMetroStation {
        position: absolute;
        .iconBox {
            position: relative;
            .locationIconFrame {
                width: 30px;
            }

            .itemIcon {
                width: 20px;
                position: absolute;
                left: 3px;
                top: -2px;
            }
        }
    }
   }
}

@media(max-width:991px) {
    .localization {
        min-height: unset;
        padding: 10px;
        flex-wrap: wrap;
        margin-top: 20px;

        .map {
            img {
                object-fit: cover;
            }
        }
    }
}