.container {
    display: flex;

    .mainContent {
        width: calc(100% - 330px);
    }
}

@media(max-width:991px) {
    .container{
        .mainContent {
            width: 100%;
        }
    }
}