.enterprise {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .enterpriseSubtitles {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        h2 {
            font-weight: bold;
        }

        p {
            max-width: 400px;
        }

       .imgContainer {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        overflow: hidden;
        width: 420px;

        img {
            width: 120px;
            cursor: pointer;
            scroll-snap-align: start;
        }
       }

       .dragDiv {
        margin-top: 20px;
        text-align: center;

        .rangeBox {
            input[type="range"] {
                cursor: pointer;
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: 5px; 
                background: #E8E8E8; 
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }
    
            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: #FFB41D;
                cursor: pointer;
            }
        }

            span {
                color: #808080;
            }
       }
    }

    .diamondArrow {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 48%;
        right: 47%;

        img {
            width: 150px;
        }

        .diamondImage {
            img {
                width: 24px;
                margin-right: -5px;
            }
        }
    }

        img {
            width: 500px;
            object-fit: cover;
        }
}

@media(max-width:991px) {
    .enterprise {
        padding: 0 10px;
        min-height: 50vh;
        margin: auto;
        margin-top: 20px;
        justify-content: center;

        .arrowSubtitle {
            width: 250px;
        }

        img {
            width: 350px;
            margin-top: 30px;
        }

        .enterpriseSubtitles {
            .imgContainer {
                width: 280px;

                img {
                    width: 70px;
                    margin: auto;
                }
            }
        }

        .diamondArrow{
            display: none;
        }
    }
}